.footer {
    background-color: #4da3c3;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    p {
      font-size: 1rem;
      font-family:'NeueHaasDisplayMediu';
      font-weight: 700;
      margin: 0;
    }
  }
  